.order-table{
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.id-column{
	width: 50px;
}

.name-column{
	width: 150px;
}

.role-column{
	width: 200px;
	
}

#table-div{
	width: 500px; 
	height:100vh; 
	overflow-y: auto; 
	clear: both; 
	float: left;
	margin-right: 50px;
}

#manager-div{
	width: 400px;
	height: 100vh;
	overflow-y: auto;
	clear: right;
	float: left;
	margin-right: 50px;
}

#result-div{
	width: 500px;
	height: 100vh;
	overflow-y: auto;
	float: left;
	text-align: center;
}
